.card {
	display: block;
	border-radius: var(--card-border-radius);
	backdrop-filter: blur(var(--blur-size));
	background-color: var(--card-bg);
	border: 1px solid var(--btn-border-color);
}

.card-title {
	margin: 0;
}

.card-body {
	padding: var(--card-gap);
}

.card-img-box {
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	height: var(--card-img-height);
	border-top-right-radius: var(--card-img-radius);
	border-top-left-radius: var(--card-img-radius);
}

.card-img {
	width: 100%;
	vertical-align: bottom;
	filter: grayscale(95%) brightness(25%);
	-webkit-filter: grayscale(95%) brightness(25%);
	-moz-filter: grayscale(95%) brightness(25%);
	-o-filter: grayscale(95%) brightness(25%);
	-ms-filter: grayscale(95%) brightness(25%);
}

.card-img:hover {
	transform: scale(1.02);
	filter: grayscale(75%) brightness(75%);
	-webkit-filter: grayscale(75%) brightness(75%);
	-moz-filter: grayscale(75%) brightness(75%);
	-o-filter: grayscale(75%) brightness(75%);
	-ms-filter: grayscale(75%) brightness(75%);
}
