@import "css/card.css";
@import "css/button.css";

@keyframes smoothTransition {
	0% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	}
	100% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	}
}

* {
	-webkit-transition: all 240ms;
	-moz-transition: all 240ms;
	-o-transition: all 240ms;
	transition: all 240ms;
	animation: smoothTransition 2s infinite alternate;
}

:root {
	--blur-size: 10px;

	--border-radius-1: 1.24px;
	--border-radius-2: 2.24px;
	--border-radius-3: 3.24px;

	--space-size-1: 8px;
	--space-size-2: 16px;
	--space-size-3: 24px;

	--box-shadow-height: 5px;
	--box-shadow-height-hover: 3px;

	--btn-padding: 11px 17px;
	--btn-bg: var(--swatch-a75);
	--btn-bg-hover: var(--swatch-a100);
	--btn-bg-text: var(--swatch-invert-a75);
	--btn-bg-text-hover: var(--swatch-invert-a100);
	--btn-border-radius: var(--border-radius-2);
	--btn-border-color: var(--swatch-invert-a15);
	--btn-border-color-hover: var(--swatch-invert-a75);

	--card-bg: var(--swatch-a100);
	--card-gap: 20px;
	--card-img-height: 300px;
	--card-img-radius: var(--card-border-radius);
	--card-border-radius: var(--border-radius-1);
	--card-border-color: var(--swatch-invert-a15);
}

:root[data-theme="light"] {
	--page-bg: #fff;
	--page-text: #000;

	--swatch-a100: rgba(238, 238, 238, 1);
	--swatch-a75: rgba(238, 238, 238, 0.75);
	--swatch-a50: rgba(238, 238, 238, 0.50);
	--swatch-a15: rgba(238, 238, 238, 0.15);
	--swatch-a5: rgba(238, 238, 238, 0.05);
	--swatch-invert-a100: rgba(10, 10, 10, 1);
	--swatch-invert-a75: rgba(10, 10, 10, 0.75);
	--swatch-invert-a50: rgba(10, 10, 10, 0.50);
	--swatch-invert-a15: rgba(10, 10, 10, 0.15);
	--swatch-invert-a5: rgba(10, 10, 10, 0.04);

	--dim-img-filter: darkness(5%);
}

:root[data-theme="dark"] {
	--page-bg: #000;
	--page-text: #fff;

	--swatch-a100: rgba(10, 10, 10, 1);
	--swatch-a75: rgba(10, 10, 10, 0.75);
	--swatch-a50: rgba(10, 10, 10, 0.50);
	--swatch-a15: rgba(10, 10, 10, 0.15);
	--swatch-a5: rgba(10, 10, 10, 0.05);
	--swatch-invert-a100: rgba(238, 238, 238, 1);
	--swatch-invert-a75: rgba(238, 238, 238, 0.75);
	--swatch-invert-a50: rgba(238, 238, 238, 0.50);
	--swatch-invert-a15: rgba(238, 238, 238, 0.15);
	--swatch-invert-a5: rgba(238, 238, 238, 0.04);

	--dim-img-filter: brightness(5%);
}

a {
	text-decoration: none;
	color: var(--swatch-invert-a100);
}

a:hover {
	text-decoration: none;
	color: var(--swatch-invert-a100);
}

body {
	height: 300vh;
	color: var(--page-text);
	font-family: 'Work Sans', sans-serif;
	background-color: var(--page-bg);
}

img {
	width: 100%;
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--swatch-invert-a100);
	font-family: 'Noto Sans Old Permic', sans-serif;
	letter-spacing: 0.3rem;
	margin-right: -0.3rem;
}

.text-block {
	display: inline-block;
	color: var(--swatch-a75);
	padding: 8px 20px;
	margin-bottom: 1.5rem;
	font-family: 'Space Mono', monospace;
	text-decoration: none;
	background-color: var(--swatch-invert-a75);
	border-radius: var(--border-radius-2);
	backdrop-filter: blur(var(--blur-size));
}

header.header-container {
	padding: 3rem;
	background-color: var(--swatch-invert-a100);
}

.brand {
	font-size: 134px;
	margin-block: 0;
	color: var(--swatch-a100);
	mix-blend-mode: difference;
}
